.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 50px;
}

.paragraph {
  font-family: Cambria;
  font-size: 22px;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
