.event {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px #ddd solid;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
}

.event h4 {
  margin-bottom: 10px;
  flex: 2;
}

.edit,
.delete {
  margin: 10px;
  font-weight: bold;
}

.delete {
  color: red;
}
